.card-booking {
  height: 210px;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: left;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.hr-row {
  margin-top: 13px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ececec;
}
span.label {
  color: #bdbdbd;
  font-size: 10px;
}

span.text {
  color: #000;
  font-size: 15px;
}

.btnExcluir {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background: #d16969;
  color: #fff;
  cursor: pointer;
}

.btnExcluir:hover {
  background: #be4d4d;
}

.resolved {
  background: #8a8a8abd;
}

.labelResolved {
  padding: 0 20px;
  font-size: 14px;
  color: #b3ffc6;
  text-align: center;
}

.currentBooking {
  background: #a1d7fcbd;
}